@import url("https://fonts.cdnfonts.com/css/inter");

.footer {
  padding: 80px 40px 24px;

  @include xl {
    padding: 80px 80px;
  }
  @include xxl {
    padding: 80px 160px;
  }

  @include tablet {
    padding: 80px 32px 0;
  }

  @include mobile {
    padding: 80px 16px 0;
  }

  &-top {
    @include tablet {
      gap: 40px;
    }

    &_brand {
      gap: 24px;

      &-logo {
        width: 172px;
        height: 36px;
      }

      &-note {
        @include mobile {
          margin-bottom: 16px;
        }
      }

      &-menu {
        gap: 24px;
      }
    }

    &_contact {
      &-title {
        line-height: 22px;
        margin-bottom: 8px;
      }
      &-connect {
        line-height: 17px;
        gap: 4px;
        margin-bottom: 24px;
      }

      &-social {
        gap: 12px;

        i {
          font-size: 20px;
          padding: 13px 15px;
        }

        i:first-child {
          padding: 13px 18px;
        }
      }
    }
  }

  &-bot {
    padding-top: 24px;
    border-top: 1px solid $dark-color;
    margin-top: 40px;

    @include tablet {
      > span {
        margin-top: 32px;
        margin-bottom: 40px;
      }
    }

    &_contact {
      padding: 16px 0;
      background: rgba(5, 18, 48, 0.9);
      backdrop-filter: blur(12px);

      span {
        font-family: "Inter", sans-serif;
      }
    }

    &_license {
      @include mobile {
        max-width: 297px;
        margin: 0 auto;
      }
    }

    &_menu {
      gap: 24px;

      @include tablet {
        gap: 18px;
        justify-content: unset;
      }
    }
  }
}
