.hero {
  background-image: url("./assets/unsplash.png");
  background-size: cover;

  @include mobile {
    position: relative;
  }

  &-header {
    padding: 40px 0;

    @include lg {
      padding: 40px 40px;
    }
    @include xl {
      padding: 40px 80px;
    }
    @include xxl {
      padding: 40px 160px;
    }

    @include tablet {
      padding: 18px 32px;
    }

    @include mobile {
      padding: 18px 16px;
      gap: 18px;
    }

    &_logo img {
      width: 172px;
      height: 36px;

      @include tablet {
        width: 140px;
        height: 35px;
      }

      @include mobile {
        width: 135px;
        height: 28px;
      }
    }

    &-right {
      @include mobile {
        gap: 0;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: #05122a;
        padding: 0 16px;
      }

      &_menu {
        @include mobile {
          gap: 24px;
          padding: 24px 0;
          border-top: 1px solid rgba(255, 255, 255, 0.12);
          border-bottom: 1px solid rgba(255, 255, 255, 0.12);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.13);
        }
      }

      &_contact {
        @include mobile {
          padding: 24px 0 88px;
        }

        &-title {
          margin-bottom: 16px;
        }
        &-connect {
          line-height: 17px;
          gap: 16px;
          margin-bottom: 32px;
        }
      }

      &_button {
        @include mobile {
          gap: 16px;
          padding: 20px 0;
        }

        &-login {
          @include mobile {
            min-width: 361px;
            padding: 10px 0;
            border: 1px solid #ffffff;
            border-radius: 32px;
            color: $white-color;
          }
        }
        &-contact {
          @include mobile {
            min-width: 361px;
          }
        }
      }
    }

    i {
      @include mobile {
        font-size: 32px;
      }
    }
  }
  &-introduce {
    width: 100%;
    margin-top: 115px;

    @include mobile {
      margin-top: 66px;
    }

    &_content {
      gap: 16px;

      &-title {
        max-width: 782px;

        @include tablet {
          max-width: 500px;
        }
        @include mobile {
          max-width: 450px;
        }
      }
      &-description {
        max-width: 688px;

        @include tablet {
          max-width: 450px;
        }

        @include mobile {
          max-width: 361px;
        }
      }
    }

    &_image {
      margin: 0 40px 0;
      @include xl {
        margin: 0px 80px;
      }
      @include xxl {
        margin: 0px 160px;
      }

      @include tablet {
        margin: 0 32px;
      }

      @include mobile {
        margin: 0 16px;
      }

      div:first-child {
        background: url("./assets/doublesubtract.png") no-repeat center center;
        background-size: contain;

        img {
          max-width: 100%;
          padding-top: 20px;

          @include tablet {
            max-width: 600px;
            height: 370px;
            padding-top: 10px;
          }
        }
      }

      div:nth-child(2) {
        background: url("./assets/subtractsmall.png") no-repeat center center;
        background-size: contain;
        padding-top: 20px;
        padding-bottom: 50px;
        img {
          max-width: 100%;
          max-height: 278px;
        }
      }

      > img {
        right: 0;
        left: 0;
        bottom: 0;
        max-width: 513px;

        @include xl {
          max-width: 533px;
        }

        @include tablet {
          max-width: 317px;
        }
        @include mobile {
          max-width: 267px;
        }
      }
    }
  }
}
