.payment {
  @include lg {
    margin-right: 40px;
  }
  @include xl {
    margin-right: 80px;
  }
  @include xxl {
    margin-right: 160px;
  }

  @include mobile {
    padding-top: 160px;
    margin: 0;
  }

  &_image {
    padding: 0;
  }

  &_content {
    margin-top: 106px;
    gap: 24px;
    padding: 0;

    @include tablet {
      padding: 0 16px;
      text-align: center;
    }

    @include mobile {
      margin-top: 80px;
      text-align: start;
    }

    &-title {
      @include tablet {
        margin: 0 auto;
      }
      @include mobile {
        margin: 0;
      }

      br {
        @include tablet {
          display: none;
        }
        @include mobile {
          display: block;
        }
      }
    }

    &-method {
      gap: 25px;

      @include tablet {
        margin: 0 auto;
      }
    }
  }
}
