@import url("https://fonts.googleapis.com/css?family=Rubik");
* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
}

.main {
  width: 100%;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.gradient-color {
  background: linear-gradient(124.32deg, #31cb9e 0.01%, #0faaa2 100.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-color {
  background: linear-gradient(124.32deg, #31cb9e 0.01%, #0faaa2 100.02%);
}

.bg-white {
  background-color: #ffffff;
}

.bg-footer {
  background-color: #05122a;
}

.bc-dark {
  background-color: #272f3e;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fs-normal {
  font-style: normal;
}

.button {
  border: none;
  font-size: 16px;
  line-height: 24px;
}

.button--contact {
  padding: 10px 20px;
  border-radius: 32px;
  max-width: 125px;
}

.text-h2 {
  font-size: 38px;
  line-height: 46px;
}
@media (max-width: 991px) {
  .text-h2 {
    font-size: 30px;
    line-height: 38px;
  }
}

.text-h3 {
  font-size: 24px;
  line-height: 32px;
}

.text-h4 {
  font-size: 20px;
  line-height: 28px;
}

.text-normal {
  font-size: 16px;
  line-height: 24px;
}

.text-small {
  font-size: 14px;
  line-height: 22px;
}

.fc-white {
  color: #ffffff;
}

.fc-black {
  color: #030d24;
}

.fc-gray {
  color: #4d5562;
}

.fc-primary {
  color: #31cb9e;
}

.fc-light {
  color: #888e9c;
}

.hero {
  background-image: url("./assets/unsplash.png");
  background-size: cover;
}
@media (max-width: 767px) {
  .hero {
    position: relative;
  }
}
.hero-header {
  padding: 40px 0;
}
@media (min-width: 992px) {
  .hero-header {
    padding: 40px 40px;
  }
}
@media (min-width: 1200px) {
  .hero-header {
    padding: 40px 80px;
  }
}
@media (min-width: 1400px) {
  .hero-header {
    padding: 40px 160px;
  }
}
@media (max-width: 991px) {
  .hero-header {
    padding: 18px 32px;
  }
}
@media (max-width: 767px) {
  .hero-header {
    padding: 18px 16px;
    gap: 18px;
  }
}
.hero-header_logo img {
  width: 172px;
  height: 36px;
}
@media (max-width: 991px) {
  .hero-header_logo img {
    width: 140px;
    height: 35px;
  }
}
@media (max-width: 767px) {
  .hero-header_logo img {
    width: 135px;
    height: 28px;
  }
}
@media (max-width: 767px) {
  .hero-header-right {
    gap: 0;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #05122a;
    padding: 0 16px !important;
  }
}
@media (max-width: 767px) {
  .hero-header-right_menu {
    gap: 24px;
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.13);
  }
}
@media (max-width: 767px) {
  .hero-header-right_contact {
    padding: 24px 0 88px;
  }
}
.hero-header-right_contact-title {
  margin-bottom: 16px;
}
.hero-header-right_contact-connect {
  line-height: 17px;
  gap: 16px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .hero-header-right_button {
    gap: 16px;
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  .hero-header-right_button-login {
    min-width: 361px;
    padding: 10px 0;
    border: 1px solid #ffffff;
    border-radius: 32px;
    color: #ffffff;
  }
}
@media (max-width: 767px) {
  .hero-header-right_button-contact {
    min-width: 361px;
  }
}
@media (max-width: 767px) {
  .hero-header i {
    font-size: 32px;
  }
}
.hero-introduce {
  width: 100%;
  margin-top: 115px;
}
@media (max-width: 767px) {
  .hero-introduce {
    margin-top: 66px;
  }
}
.hero-introduce_content {
  gap: 16px;
}
.hero-introduce_content-title {
  max-width: 782px;
}
@media (max-width: 991px) {
  .hero-introduce_content-title {
    max-width: 500px;
  }
}
@media (max-width: 767px) {
  .hero-introduce_content-title {
    max-width: 450px;
  }
}
.hero-introduce_content-description {
  max-width: 688px;
}
@media (max-width: 991px) {
  .hero-introduce_content-description {
    max-width: 450px;
  }
}
@media (max-width: 767px) {
  .hero-introduce_content-description {
    max-width: 361px;
  }
}
.hero-introduce_image {
  margin: 0 40px 0;
}
@media (min-width: 1200px) {
  .hero-introduce_image {
    margin: 0px 80px;
  }
}
@media (min-width: 1400px) {
  .hero-introduce_image {
    margin: 0px 160px;
  }
}
@media (max-width: 991px) {
  .hero-introduce_image {
    margin: 0 32px;
  }
}
@media (max-width: 767px) {
  .hero-introduce_image {
    margin: 0 16px;
  }
}
.hero-introduce_image div:first-child {
  background: url("./assets/doublesubtract.png") no-repeat center center;
  background-size: contain;
}
.hero-introduce_image div:first-child img {
  max-width: 100%;
  padding-top: 20px;
}
@media (max-width: 991px) {
  .hero-introduce_image div:first-child img {
    max-width: 600px;
    height: 370px;
    padding-top: 10px;
  }
}
.hero-introduce_image div:nth-child(2) {
  background: url("./assets/subtractsmall.png") no-repeat center center;
  background-size: contain;
  padding-top: 20px;
  padding-bottom: 50px;
}
.hero-introduce_image div:nth-child(2) img {
  max-width: 100%;
  max-height: 278px;
}
.hero-introduce_image > img {
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 513px;
}
@media (min-width: 1200px) {
  .hero-introduce_image > img {
    max-width: 533px;
  }
}
@media (max-width: 991px) {
  .hero-introduce_image > img {
    max-width: 317px;
  }
}
@media (max-width: 767px) {
  .hero-introduce_image > img {
    max-width: 267px;
  }
}

.service {
  margin: 100px 40px 0px;
}
@media (min-width: 1200px) {
  .service {
    margin: 100px 80px 0;
  }
}
@media (min-width: 1400px) {
  .service {
    margin: 100px 160px 0;
  }
}
@media (max-width: 991px) {
  .service {
    margin: 80px 32px 0px;
  }
}
@media (max-width: 767px) {
  .service {
    margin: 80px 16px 0px;
  }
}
.service-slider {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .service-slider {
    margin-top: 62px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
}
.service-title {
  width: 573px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .service-title {
    width: 100%;
  }
}
.service-steps {
  width: 100%;
}
@media (max-width: 767px) {
  .service-steps {
    position: relative;
    margin-top: 62px !important;
    transition: transform 0.5s linear;
    gap: 0;
  }
}
.service-steps_card {
  background: #f1f3f5;
  -webkit-backdrop-filter: blur(13.5139px);
          backdrop-filter: blur(13.5139px);
  border-radius: 8px;
  padding: 40px 40px 56px 40px !important;
  max-width: 32% !important;
}
@media (max-width: 767px) {
  .service-steps_card {
    padding: 40px 40px 88px 40px !important;
    flex: 1 0 100%;
    min-width: 354px;
  }
}
.service-steps_card-icon {
  margin-bottom: 32px;
}
.service-steps_card-content_title {
  margin-bottom: 16px;
}
.service-steps_pagination {
  margin-top: 16px;
  gap: 10px;
}
.service-steps_pagination i {
  font-size: 7px;
  border-radius: 50%;
  color: #eaecef;
  line-height: 20px;
}
.service-benefit {
  margin-top: 73px !important;
}
@media (max-width: 991px) {
  .service-benefit {
    margin-top: 0 !important;
  }
}
@media (max-width: 767px) {
  .service-benefit {
    margin-top: 35px;
    position: relative;
  }
}
@media (max-width: 767px) {
  .service-benefit img {
    margin: 54px -16px 0;
  }
}
.service-benefit_content {
  gap: 24px;
  margin-top: 71px !important;
}
@media (min-width: 1200px) {
  .service-benefit_content {
    margin-top: 101px !important;
  }
}
@media (min-width: 1400px) {
  .service-benefit_content {
    margin-top: 141px !important;
  }
}
@media (max-width: 767px) {
  .service-benefit_content {
    margin-top: 80px;
    align-items: start;
    text-align: start;
  }
}
@media (max-width: 991px) {
  .service-benefit_content button {
    margin: 0 auto;
    margin-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .service-benefit_content button {
    position: absolute;
    bottom: -57px;
    left: 0;
    right: 0;
    margin-bottom: 0px;
  }
}
@media (max-width: 991px) {
  .service-benefit_content-title br {
    display: none;
  }
}
@media (max-width: 767px) {
  .service-benefit_content-title br {
    display: block;
  }
}

@media (min-width: 992px) {
  .payment {
    margin-right: 40px !important;
  }
}
@media (min-width: 1200px) {
  .payment {
    margin-right: 80px !important;
  }
}
@media (min-width: 1400px) {
  .payment {
    margin-right: 160px !important;
  }
}
@media (max-width: 767px) {
  .payment {
    padding-top: 160px;
    margin: 0 !important;
  }
}
.payment_image {
  padding: 0 !important;
}
.payment_content {
  margin-top: 106px !important;
  gap: 24px;
  padding: 0 !important;
}
@media (max-width: 991px) {
  .payment_content {
    margin: 0 16px !important;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .payment_content {
    margin-top: 80px;
    text-align: start;
  }
}
@media (max-width: 991px) {
  .payment_content-title {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .payment_content-title {
    margin: 0;
  }
}
@media (max-width: 991px) {
  .payment_content-title br {
    display: none;
  }
}
@media (max-width: 767px) {
  .payment_content-title br {
    display: block;
  }
}
.payment_content-method {
  gap: 25px;
}
@media (max-width: 991px) {
  .payment_content-method {
    margin: 0 auto;
  }
}

.solution {
  background: url("./assets/solution.png");
  padding: 90px 105px 90px 125px;
}
@media (min-width: 1400px) {
  .solution {
    padding: 90px 205px 90px 225px;
  }
}
@media (max-width: 991px) {
  .solution {
    padding: 80px 32px 94px;
  }
}
@media (max-width: 767px) {
  .solution {
    padding: 80px 16px 94px;
  }
}
.solution_content {
  max-width: 500px;
  height: 150px;
  margin-bottom: 88px;
}
.solution_content div:first-child {
  margin-bottom: 8px;
}
.solution_application {
  gap: 150px;
}
.solution_application img {
  max-width: 419px;
}
.solution_application div:first-child img {
  width: 100%;
}
.solution_application div:first-child div {
  margin: 30px 0 0;
}
@media (max-width: 991px) {
  .solution_application div:first-child div {
    margin: 29px 0 5px;
  }
}
@media (max-width: 767px) {
  .solution_application div:first-child div {
    margin: 24px 0 5px;
  }
}
.solution_application div:last-child img {
  width: 100%;
}
.solution_application div:last-child div {
  margin-top: 64px;
}
@media (max-width: 767px) {
  .solution_application div:last-child div {
    margin-top: 44px;
  }
}
.solution_subtract {
  top: 105px;
  bottom: 0;
  left: 0;
  right: 20px;
  position: absolute;
}
@media (max-width: 991px) {
  .solution_subtract {
    width: 130px;
    height: 105px;
    position: unset;
    margin-bottom: 37px;
    transform: rotate(90deg);
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
@media (max-width: 767px) {
  .solution_subtract {
    width: 104px;
    height: 80px;
    margin-bottom: 37px;
  }
}

.feature {
  gap: 40px;
  padding: 84px 100px 95px;
}
@media (min-width: 1400px) {
  .feature {
    padding: 84px 255px 95px;
  }
}
@media (max-width: 991px) {
  .feature {
    padding: 80px 32px;
  }
}
@media (max-width: 767px) {
  .feature {
    padding: 80px 16px;
  }
}
.feature-content {
  width: 500px;
}
@media (max-width: 991px) {
  .feature-content {
    width: 100%;
  }
}
.feature-content_title {
  margin-bottom: 8px;
}
.feature-list {
  gap: 20px;
}
.feature-list div {
  gap: 20px;
  width: 100%;
}
.feature-list_item {
  gap: 16px;
  width: 455px;
  height: 72px;
  background: #f1f3f5;
  padding: 24px 20px;
}
@media (max-width: 767px) {
  .feature-list_item {
    width: 100%;
  }
}
.feature-button button {
  margin-bottom: 12px;
}
.feature-button p {
  margin: 0;
}

.comment {
  margin: 0 40px;
  background: url("./assets/comment.jpg") no-repeat;
  background-size: cover;
  padding: 60px 47px 60px 60px;
  gap: 67px;
}
@media (min-width: 1200px) {
  .comment {
    margin: 0 80px;
  }
}
@media (min-width: 1400px) {
  .comment {
    margin: 0 160px;
  }
}
@media (max-width: 991px) {
  .comment {
    margin: 0;
    padding: 80px 32px;
  }
}
@media (max-width: 767px) {
  .comment {
    padding: 80px 16px;
  }
}
.comment-content {
  width: 60%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.01);
  border: 0.900926px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(13.5139px);
          backdrop-filter: blur(13.5139px);
  border-radius: 8px;
  align-self: stretch;
}
@media (max-width: 991px) {
  .comment-content {
    width: 100%;
    margin-bottom: 40px;
  }
}
.comment-content img {
  margin-bottom: 24px;
}
.comment-author {
  width: 40%;
}
@media (max-width: 991px) {
  .comment-author {
    width: 100%;
    gap: 16px;
  }
}
.comment-author img {
  margin-bottom: 22px;
}
@media (max-width: 991px) {
  .comment-author img {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .comment-author img {
    width: 72px;
    height: 72px;
    margin: auto 0;
  }
}

.information {
  background: url("./assets/unsplash.png");
  margin-top: 129px;
  padding: 90px 0 146px 40px;
  gap: 10px;
}
@media (min-width: 1200px) {
  .information {
    padding: 90px 0 146px 80px;
  }
}
@media (min-width: 1400px) {
  .information {
    padding: 90px 0 146px 160px;
  }
}
@media (max-width: 991px) {
  .information {
    padding: 90px 160px 146px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .information {
    padding: 80px 16px;
  }
}
.information-contact {
  max-width: 361px;
  gap: 24px;
}
@media (max-width: 991px) {
  .information-contact {
    width: 100%;
  }
}
.information-contact_box {
  padding: 40px;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 8px;
}
@media (max-width: 991px) {
  .information-contact_box {
    max-width: 361px;
  }
}
@media (max-width: 767px) {
  .information-contact_box {
    padding: 40px;
  }
}
.information-contact_box-support {
  margin-bottom: 24px;
}
.information-contact_box-phone {
  gap: 33px;
  margin-bottom: 9px;
}
.information-contact_box-email {
  gap: 33px;
}
.information-wrapper {
  min-width: 613px;
}
@media (min-width: 1200px) {
  .information-wrapper {
    min-width: 705px;
  }
}
@media (max-width: 991px) {
  .information-wrapper {
    min-width: 100%;
    margin-top: 24px;
  }
}
.information-wrapper-form {
  max-width: 400px;
  padding: 40px;
  border-radius: 8px;
  gap: 16px;
  position: relative;
  z-index: 2;
}
.information-wrapper-form label {
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .information-wrapper-form {
    margin: 0 auto;
  }
}
.information-wrapper-form_button {
  gap: 28px;
  gap: 8;
}
.information-wrapper-form_button button {
  max-width: 80px !important;
  padding: 10px 20px;
  border-radius: 32px;
}
.information-wrapper-form_button-note {
  font-size: 12px;
  line-height: 20px;
}
.information-wrapper-image {
  top: -37%;
  right: 0;
  z-index: 1;
}

.footer {
  padding: 80px 40px 24px;
}
@media (min-width: 1200px) {
  .footer {
    padding: 80px 80px;
  }
}
@media (min-width: 1400px) {
  .footer {
    padding: 80px 160px;
  }
}
@media (max-width: 991px) {
  .footer {
    padding: 80px 32px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 80px 16px;
  }
}
@media (max-width: 991px) {
  .footer-top {
    gap: 40px;
  }
}
.footer-top_brand {
  gap: 24px;
}
.footer-top_brand-logo {
  width: 172px;
  height: 36px;
}
@media (max-width: 767px) {
  .footer-top_brand-note {
    margin-bottom: 16px;
  }
}
.footer-top_brand-menu {
  gap: 24px;
}
.footer-top_contact-title {
  line-height: 22px;
  margin-bottom: 8px;
}
.footer-top_contact-connect {
  line-height: 17px;
  gap: 4px;
  margin-bottom: 24px;
}
.footer-top_contact-social {
  gap: 12px;
}
.footer-top_contact-social i {
  font-size: 20px;
  padding: 13px 15px;
}
.footer-top_contact-social i:first-child {
  padding: 13px 18px;
}
.footer-bot {
  padding-top: 24px;
  border-top: 1px solid #272f3e;
  margin-top: 58px;
}
@media (max-width: 991px) {
  .footer-bot {
    gap: 32px;
    padding-bottom: 40px;
  }
}
.footer-bot_menu {
  gap: 24px;
}
@media (max-width: 991px) {
  .footer-bot_menu {
    gap: 18px;
    justify-content: unset;
  }
}/*# sourceMappingURL=index.css.map */