@import url("https://fonts.cdnfonts.com/css/rubik");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
.main {
  width: 100%;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin-bottom: 0;
}

@import "./scss/variable";
@import "./scss/hero";
@import "./scss/service";
@import "./scss/payment";
@import "./scss/solution";
@import "./scss/feature";
@import "./scss/comment";
@import "./scss/information";
@import "./scss/footer";
