@import url("https://fonts.cdnfonts.com/css/rubik");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

@import "./scss/variable";
@import "./scss/hero";
@import "./scss/service";
@import "./scss/payment";
@import "./scss/solution";
@import "./scss/feature";
@import "./scss/comment";
@import "./scss/information";
@import "./scss/footer";
